@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: 'Quicksand-Bold';
    src: url(./Fonts/Quicksand-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAF9F6;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
}



.nav {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 60px;
    margin-inline: auto;
    font-size: 25px;
    padding: 20px;
}

.nav .navItem {
    z-index: 100;
    border: 2px solid #333;
    border-radius: 9px;
    font-size: 1em;
    font-family: 'Montserrat', serif;
    font-weight: 500;
    background-color: transparent;
    margin-inline: 4rem;
    height: 40px;
    transition: 0.15s;
    padding-inline: 10px;
}

.nav .navItem:hover {
    cursor: pointer;
    background-color: #3b90ff;
    border-color: #002853;
    color: white;
}

#homeSection {
    font-family: 'Quicksand-Bold', 'Montserrat', sans-serif;
    position: relative;
    display: flex;
    height: 650px;
    align-items: center;
    padding-inline: 8em;
    margin: 0;
    
}

.item1 {
    font-size: 2em;
    flex-wrap: wrap;
    min-width: 600px;
    margin: 0;
    color:#333;
    
}

.item2 {
    font-size: 4em;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 20px;
}

.item3 {
    font-size: 3em;
    color:#333;
    margin: 0;
    flex-wrap: wrap;
}


.circle {
    min-width: 300px;
    height: 310px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #333;
    margin-left: 15rem;
    margin-right: 15rem;
    flex-wrap: wrap;
}

.circle img {
    max-width: 100%;
    min-width: 100%;
    height: 310px;
    object-fit: cover;
}

#name {
    background-image: linear-gradient(11deg, #3b90ff, #004a99);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.shape-divider{
    overflow:hidden;
    position:relative;
    }
    .shape-divider::before{
    content:'';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 134px;
    background-position: 50% 0%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23faf9f6"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23faf9f6"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23faf9f6"/></svg>'); 
    }
    
    @media (min-width:768px){
    .shape-divider::before{
    background-size: 100% 134px;
    background-position: 50% 0%;   
    }  
    }
     
    @media (min-width:1025px){
    .shape-divider::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 196px;
    background-position: 50% 0%;  
    }
    }
    @media (min-width:2100px){
    .shape-divider::before{
    background-size: 100% calc(2vw + 196px);
    }
    }
     
#aboutSection {
    padding-bottom: 3em;
    min-width: 100%;
    background: linear-gradient(to right, #3b90ff, #004a99);
    margin: 0;
    display: flex;
    padding-top: 15em;
}

.about-container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.stack {
    font-size: 2em;
    width: 80%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    transform: translateX(-200px);
    background-color: rgba(47, 0, 100, 0.37);
    padding: 1em;
    border-radius: 25px;
    border: 3px solid rgb(37, 37, 37);
}

.web-container {
    display: flex;
}

.html {
    display: flex;
    width: 200px;
    padding-top: 2em;
    max-width: 100%;
    height: auto;
}

.css {
    display: flex;
    width: 125px;
    max-width: 100%;
    height: auto;
    padding-top: 2.3em;
    padding-inline: 1.4em;
}

.js {
    display: flex;
    width: 125px;
    max-width: 100%;
    height: auto;
    padding-top: 3.3em;
    padding-left: 1.3em;
}

.java {
    width: 220px;
    transform: translateX(-10px);
    padding-top: 0.3em;
}

.cpp {
    width: 150px;
    padding-top: 1em;
    padding-left: 0.5em;
}

.mongo {
    width: 200px;
    padding-top: 0.3em;
    padding-left: 1em;
}

.sql {
    width: 160px;
    padding-top: 0.5em;
    padding-left: 1em;
}

.node {
    padding-left: 0.5em;
}

.vue {
    width: 160px;
    padding-top: 1em;
    padding-left: 1em;
}

.learning {
    padding-top: 2.3em;
    padding-left: 1em;
    font-size: 0.8em;
    font-family: 'Quicksand-Bold';
    text-align: center;
}

.about {
    font-size: 3em;
    font-family: 'Montserrat';
    color: #FAF9F6;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-bottom: 1em;
    width: 50%;
    margin: 0;
}

.about p {
    font-family: 'Open Sans';
    font-weight: 400; 
    font-size: 27px;
}

#projectsSection {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    background: linear-gradient(180deg, #333, #555);
    padding-block: 10em;
}

[data-reveal="left"] { clip-path: inset(0 100% 0 0); }

[data-reveal="left"].revealed {
    animation: reveal-left 1.2s cubic-bezier(0.17, 0.97, 0.38, 1)
    forwards 300ms;
}

@keyframes reveal-left {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

[data-reveal="right"] { clip-path: inset(0 0 0 100%); }

[data-reveal="right"].revealed {
    animation: reveal-right 1.2s cubic-bezier(0.17, 0.97, 0.38, 1)
    forwards 300ms;
}

@keyframes reveal-right {
    0% {
        clip-path: inset(0 0 0 100%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.projects {
    margin-block: 1em;
    font-size: 4em;
    padding-left: 2.1em;
    font-family: 'Montserrat';
    color: #FAF9F6;
}

.sep-section {
    position: relative;
    height: auto;
    
}

.separator {
    position: absolute;
    top: 0;
}

.video-box {
    height: 600px;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-box {
    padding-inline: 10em;
    color: #FAF9F6;
}

.title {
    font-size: 4em;
    font-family: 'Montserrat';
    max-width: max-content;
    margin-block-end: 0.25em;
}

.text {
    opacity: 0.6;
    line-height: 2;
}

#rare {
    font-weight: 800;
}

#contactSection {
    height: 700px;
    padding-top: 10em;
    padding-bottom: 6em;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.contact {
    font-size: 4em;
    font-family: 'Montserrat';
    color: #333;
    padding-top: 1em;
}

.reach {
    font-size: 2em;
    font-family: 'Montserrat';
    padding-bottom: 1em;
}

.side-text {
    margin-top: 10em;
    padding-inline: 7em;
    font-weight: 500;
    font-size: 24px;
}

.logos {
    padding-block: 1em;
    padding-right: 0.3em;
    transition: 300ms ease;
}

#contactSection form {
    display: grid;
    grid-gap: 10px;
}
  
#contactSection label {
    font-weight: bold;
    position: relative;
    padding-top: 10px;
}
  
#contactSection input {
    min-width: 500px;
    padding: 8px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

#contactSection textarea {
    min-width: 500px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 8px;
    resize: none;
}
  
#contactSection button {
    max-width: 420px;
    background-color: #8da7ff;
    color: white;
    padding: 10px 30px;
    margin-top: 1em;
    border: none;
    cursor: pointer;
    transition: 300ms ease;
}
  
#contactSection button:hover {
    background-color: #678bff;
    transform: translateY(5px);
}

.logos:hover {
    transform: scale(0.9);
}

#top {
    display: flex;

}